/* src/App.css */
.app-container {
    padding: 20px;
  }
  
  .lists-container {
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    flex: 1;
    margin: 0 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto;
  }
  